* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #303F9F;
}

.room {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 1em;
}


.room * {
    margin: 10px;
    width: 300px;
    align-self: center;
}

.room div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.room div h1 {
    font-family: sans-serif;
    text-align: center;
}

.room div p {
    font-style: italic;
    text-align: center;
}

.room fieldset {
    border-style: none;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
}

.room fieldset * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.room fieldset input {
    font-size: medium;
    border-radius: 5px;
    border-style: none;
    padding: 8px;
}

.room fieldset label {
    color: #212121;
}

.room button {
    background-color: #448AFF;
    border-radius: 8px;
    color: white;
    font-size: large;
    padding: 10px;
    width: 100%;
    border: none;
}

.room button:hover {
    background-color: #3b77df;
    cursor: pointer;
}

.chatandcall{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95vw;
    height: 95vh;
    min-width: 95vw;
    min-height: 95vh;
    display: grid; 
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content;  
    grid-template-areas: "streamcontainer chat";
}

.streamcontainer {
    position: relative;
    grid-area: streamcontainer;
}

.streams{
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-auto-rows: 1fr;
    grid-area: video;
}

.localstream {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    margin: 10px;
    border-radius: 10px;
    border: solid;
    color: white;
    border-width: 2.5px;
    height: 120px;
    width: 200px;
    background-color: white;
}

video{
    width: 100%;
    height: 100%; 
    max-height: 95vh;
    object-fit: cover;
    border-radius: 10px;
}

.stream-controls {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    background-color:  aliceblue;
    margin: 10px; 
    grid-area: controls;
    border-radius: 4em;
}

.stream-controls i{
    font-size: 1.5em;
    margin: 1em;
    display: inline-block;
    color: #757575;
}

#disconnect-image{
    color: red;
}

.stream-controls i:hover{
    color: #464646;
    cursor: pointer;
} 

.chat{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 5fr 1fr;
    background-color: white;
    width: 100%;
    height: 95vh;
    margin-left: 10px;
    border-radius: 10px;
}

.messages{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.loader {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgb(255, 255, 255, 0.6);
}

.loader div {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 16px solid #BDBDBD; 
    border-top: 16px solid #448AFF; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* content that was received by another peer */
.message_container {
    background-color: #448AFF;
    border-radius: 10px;
    max-width: 80%;
    height: fit-content;
    margin: 10px; 
    padding: 15px;
    align-self: flex-start;
}

.message_container * {
    color: white;
    word-break:break-all;
}

.message_container h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.message_container p {
    margin-bottom: 0px;
}


/* content that was created by you */
.message_container_darker{
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 15px; 
    max-width: 80%;
    height: fit-content;
    margin: 10px; 
    align-self: flex-end;
}

.message_container_darker * {
    word-break:break-all;
}

.message_container_darker h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.message_container_darker p {
    margin-bottom: 0px;
    display: block;
}

.time-right {
    float: right;
    color: #aaa;
}
  
.time-left {
    float: left;
    color: #999;
}

.chat-input-box{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-top: 2px solid #BDBDBD;
}

.chat-input-icon{
    display: flex;
    align-items: center;
}

#file-input-image {
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    color: #757575;
}

#file-input-image:hover {
    color: #464646;
    cursor: pointer;
}

#chat-input {
    display: block;
    width: 100%;
    resize: vertical;
    margin: 10px;
    border-radius: 10px;
    font-size: large;
    padding: 5px;
}

.active-members{
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
}

.active-member-box{
    background-color: #BDBDBD;
    border-radius: 10px 10px 0px 0px;
}

.active-member-box * {
    padding: 10px;
    word-break: break-all;
}