
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#local-video{
    background-color: black;
    width: 100px;
    height: 100px;
}

#remote-video{
    background-color: black;
    width: 100px;
    height: 100px 
}